.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  display: block;
  padding-left: 64px;
  padding-top: 30px;
  width: 228px;
  height: 32px;
}

.header__title {
  display: flex;
  align-items: center;
  padding-left: 64px;
  font-size: 102px;
  font-weight: 700px;
  line-height: 96px;
  color: #202020;
  width: 730px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #202020;
  width: 388px;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  
  border: 2px solid red;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  color:#2f80ed;


  border: 2px solid red;
}

.two-columns__main-text {
  width: 80%;

  border: 2px solid red;
}

.paragraph {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;

  border: 2px solid red;
}

.paragraph__center {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.span-accent {
  font-weight: bold;
}


.digits {
  padding: 0 0 100px 0;
  margin: 0 0 20px 0;
  
  border: 2px solid red;
}

.section-title {
  width: 60%;
  margin: 100px auto 0 auto;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bolder;


  border: 2px solid red;
}

.section-subtitle {
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;

  border: 2px solid red;
}

.table {
  width: 1100px;
  margin: 0 auto 60px auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  border: 2px solid red;
}

.table__cell {
  width: 250px;
  margin: 60px auto 0 auto;
  flex-direction: row;
  flex-wrap: wrap;


  border: 2px solid red;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bolder;
  margin: 0 0 20px 0;
 
  
  border: 2px solid red;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  flex-basis: 100%;
  margin: 0 0 20px 0;
  
  border: 2px solid red;
}